import React from 'react';

interface Props {

}

interface State {

}

export default class {{componentName}} extends React.Component<Props, State> {
  state: State = {
  };

  render() {
    return (
      <div></div>
    );
  }
}
