import * as React from 'react';

interface Props {

}

interface State {

}

export default class {{componentName}} extends React.Component<Props, State> {
  constructor(props: Props) {
    super(props);
    this.state = {
      displaySearch: false
    };
  }


  render() {
    return (
      <div></div>
    );
  }
}
